body{
	 background-color: #E6E6E6;
	 margin: 1;
	 padding: 1;
}
h3{
	color: #D7DEF0;
}
#formMain{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 50%;
border: 5px solid #177374;
background-color: #042029;
}
#formMain .cajas{
  background: #DCE2F3 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 16px;
  height: 40px;
  width: 300px;
  line-height: 50px;
}
#botonEntrar{
	color:white;
}