* { box-sizing: border-box; }

body { 
	background-color: #212159;
	font-family: "Arial";
	margin: 0px;

	display: flex;
 	justify-content: center;
 	align-items: center;
 	min-height: 100vh;
	flex-direction: column;
}

header { 
	padding: 30px;
	background-color: #212159;
}

h3 { margin: 0px; }

p { font-weight: bold; }

a { 
	color: white;
	text-decoration: none;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: white;
	border: 1px solid #d6d9dc;
	border-radius: 5px;
	box-shadow: 3px 3px 8px #20716a;

	width: 30%;
	padding: 50px;
}

form select {
	border: 1px solid #d6d9dc;
	border-radius: 3px;
	width: 100%;
	padding: 7px;
	font-size: 14px;
	-webkit-appearance: none;
}

.navbar {
	display: flex;
	background-color: #333;
}

.navbar a {padding: 14px 20px; }
.navbar a:hover {
	background-color: #ddd;
	color: black;
}

form .form-row {
	margin-top: 5px;
	margin-bottom: 5px;
	display: flex;
}

form .login-header {
	flex-direction: column;
	align-items: center;
}

.form-row input[type] {
	border: 1px solid #d6d9dc;
	border-radius: 3px;
	width: 100%;
	padding: 7px;
	font-size: 14px;
}

.form-row input[type='submit'] {
	font-weight: bold;

	color: #fff;
	background-color: #212159;

	border: none;
	border-radius: 3px;

	padding: 10px 20px;
	cursor: pointer;	
}